#n-box{
    position: relative;
    margin: 0 auto;
    width: 100%;
    background-color: #d4d4d4;
    height: 613px;
    overflow-y: auto;
    overflow-x:none;
    border-radius: 10px;
    top: 10px;
    display: none;
}
.n-card{
    display: block;
    position: relative;
    margin: 0 auto;
    border: 1px solid #979797;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    color: #ffffff;
    background-color: #33667c;
    height: auto;
    box-shadow: 1px 5px 10px #b1b1b1;
}
.n-badge{
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    background: #119bbc;
    color: #FFF;
    text-align: center;
    line-height: 2;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.6em;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 0px 10px 10px slategrey;
}
.n-type-name,
.n-type-id,
.n-receiver-name,
.n-receiver-id,
.n-active
{
    display:none;
}
.n-content,
.n-date{
    cursor:default;
}

.n-content-wrapper{
    display: block;
    position: relative;
    margin: 0 auto;
    padding-top: 10px;
    margin-top: 5px;
    padding-bottom: 15px;
    width: 100%;
    border: 1px solid #59b9d0;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    background: #59b9d045;
    font-size: 1.2em;
}
.n-content{
    display: block;
    background: rgba(0,0,0,0.3);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    word-wrap: break-word;
    position: relative;
    margin-bottom: 15px;
}
.n-icon{
    position: absolute;
    float: left;
    left: 5px;
    background: #FFF;
    padding: 3px;
    border-radius: 50%;
    bottom: 5px;
}
.n-date{
    display: block;
    position: relative;
    top: 10px;
    padding-right: 10px;
    border-radius: 5px;
    text-align: right;
}
.n-sender{
    float: left !important;
    font-size: 0.85em !important;
}
.close-notification{
    position: relative;
    top: -120px;
    float: right;
    color: white;
    padding: 0px;
    /* background: #FFF; */
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
    right: -3px;
}